.Flex_Cards{
	display: flex;
	grid-gap: 0 30px;
	justify-content: space-around;
}

@media (max-width: 700px) {
	.Flex_Cards{
		flex-direction: column;
		grid-gap: 20px 0;
	}
}

.Flex_Card_Item{
	width: 100%;
}