.Fold__Bg {
	width: 100%;
	height: 100vh;
	background-image: url(./Fold_bg.png);
	background-size: cover;
	background-position: center;
	box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

@media (max-width: 700px) {
	.Fold__Bg {
		background-position: 60%;
	}
}

.Fold__Container {
	position: absolute;
	top: 15%;
	width: 100%;
}

.Fold__Container-Gifts {
	margin: 0 100px;
}

@media (max-width: 700px) {
	.Fold__Container-Gifts {
		margin: 0 20px;
	}
}
