.Banner{
	padding: 50px 100px;
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	background-color: #fcd6d3;
}

@media (max-width: 900px) {
	.Banner{
		padding: 25px 15px;
		flex-direction: column;
	}
}

.Box_Banner_Left{
	width: 100%;
}

.Box_Banner_Right{
	width: 100%;
	text-align: center;
}

.Banner_Image{
	width: 360px;
}

@media (max-width: 600px) {
	.Banner_Image{
		margin-top: 15px;
		width: 250px;
	}
}